# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL_LOCALHOST="postgresql://postgres:132@localhost:5432/nest?schema=public"
DATABASE_URL_DOCKER="postgresql://postgres:132@172.17.0.1:5432/nest?schema=public"
DATABASE_URL=${DATABASE_URL_DOCKER}
SIGN_IN_EXPIRATION_TIME='15m'
JWT_SECRET="super-secret"